<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="project.js"></script> 
    <title>Books Archieve</title>
</head>
<body>
    <p>Archieve of Books</p>
    <p>
        Taking input from web<br><br>
            ID<input type="text" id="text1" name="id"> <br><br>
            Year<input type="text" id="text1" name="year"><br><br>
            Author<input type="text" id="text1" name="author"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
    </p>
</body>
</html>